<html>
    <head>
        <title>Login Here</title>
           </head>
    <body>
        <%- include('nav') -%>

        <div class="container row">
           <h1>Hi, Welcome to your Dashboard</h1>
        </div>
    </body>
</html>