<html>
    <head></head>
    <body>
        
        <ul class ='nav'>
            <li>
        <a href="/product">Product</a>
        <a href="/create">Form</a>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
        </li>
    </ul>
    <link rel="stylesheet" href = '../public/style.css'>

    </body>
</html>